.button {
  color: var(--color-main);
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
}

.button:hover {
  color: white;
  background-color: var(--color-main);
}
